### Tuple

In [6]:
print("hello world")  # commments

hello world

In [12]:
tpl = (10,20,30,50,40,'upflairs',True,25.2)  # imutable
print(tpl)
print(type(tpl))

(10, 20, 30, 50, 40, 'upflairs', True, 25.2)
<class 'tuple'>

In [ ]:
tpl.count()

In [13]:
tpl = 10,20,30,50,40,'upflairs',True,25.2
print(tpl)
print(type(tpl))

(10, 20, 30, 50, 40, 'upflairs', True, 25.2)
<class 'tuple'>

In [16]:
tpl = ('upflairs',)
print(tpl)
print(type(tpl))

('upflairs',)
<class 'tuple'>

In [17]:
tpl = 'upflairs',
print(tpl)
print(type(tpl))

('upflairs',)
<class 'tuple'>

In [29]:
st1 = "Mohan "
st2 = "Singh "
full_name = st1 + st2
print(full_name)

Mohan Singh

In [24]:
full_name + 19

TypeError: can only concatenate str (not "int") to str

In [30]:
print(full_name*5)  # replication method

Mohan Singh Mohan Singh Mohan Singh Mohan Singh Mohan Singh

In [31]:
print(5 * 3)

15

In [33]:
tpl * 5

('upflairs', 'upflairs', 'upflairs', 'upflairs', 'upflairs')

In [34]:
ls = [10,20,30]
print(ls * 3)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [35]:
ls1 = [10,20,30]
ls2 = [40,50,60]
full_list = ls1 + ls2 
print(full_list)

[10, 20, 30, 40, 50, 60]

In [39]:
print(min(full_list))
print(max(full_list))
print(sum(full_list))

10
60
210

In [40]:
ls1 = (10,20,30)
ls2 = 40,50,60
full_tpl = ls1 + ls2 
print(full_tpl)

(10, 20, 30, 40, 50, 60)

In [43]:
print(min(full_tpl))
print(max(full_tpl))
print(sum(full_tpl))
print(len(full_tpl))

10
60
210
6

In [46]:
full_tpl[5]  # accessing

60

In [48]:
full_tpl[2:4]

(30, 40)

In [54]:
## unpacking method 
full_name = ('Ranjit','Singh')
first_name , last_name  = full_name
print(first_name)
print(last_name)
print(full_name)

Ranjit
Singh
('Ranjit', 'Singh')

### Dictionary

In [55]:
# pairs ==> pair    (key:value)
dt = {"A":10,"B":20,"C":30,"D":40}  # duplicates key can not be 
print(dt)
print(type(dt))

{'A': 10, 'B': 20, 'C': 30, 'D': 40}
<class 'dict'>

In [56]:
dt['C']

30

In [57]:
dt = {"A":10,"B":20,"C":30,"D":40,"A":100}  # duplicates key can not be 
print(dt)
print(type(dt))

{'A': 100, 'B': 20, 'C': 30, 'D': 40}
<class 'dict'>

In [1]:
dt = {"A":10,"B":10.5,"C":True,"D":'upflairs',"E":[10,20],"D":(10,20,30)}
print(dt)

{'A': 10, 'B': 10.5, 'C': True, 'D': (10, 20, 30), 'E': [10, 20]}

In [5]:
dt2 = {"A":10,1:20,10.2:50}
print(dt2)

{'A': 10, 1: 20, 10.2: 50}

In [6]:
dt2 = {"name":"Ranjit singh","city":'Mathura'}
print(dt2)

{'name': 'Ranjit singh', 'city': 'Mathura'}

In [7]:
dt = {"A":10,"B":20,"C":30,"D":40}  # duplicates key can not be 
print(dt)

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [8]:
print(dt['B'])

20

In [9]:
print(dt['Z'])

KeyError: 'Z'

In [10]:
dt.get("A")

10

In [11]:
dt.get("Z")

In [13]:
dt.get("Z","Not available")

'Not available'

In [15]:
print("hello world)

SyntaxError: unterminated string literal (detected at line 1) (3133449829.py, line 1)

In [21]:
pin_code = int(input("plz enter your pin code : "))
print(pin_code)

ValueError: invalid literal for int() with base 10: 'twenty'

In [22]:
dt = {"A":10,"B":20,"C":30,"D":40}  # duplicates key can not be 
print(dt)

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [24]:
## update 
dt['B'] = 200

In [25]:
dt

{'A': 10, 'B': 200, 'C': 30, 'D': 40}

In [34]:
student_name = {'names':['rahul','mohit','kriesh'],
                'marks':[10,20,30],
                'subject':'math'} 

# find the no of student 
# add another student record in to the dict name rohit and their marks 55
# update the subject"math" to science

In [36]:
print(len(student_name["names"]))

3

In [39]:
student_name["names"].append("Rohit")

In [40]:
student_name

{'names': ['rahul', 'mohit', 'kriesh', 'Rohit'],
 'marks': [10, 20, 30],
 'subject': 'math'}

In [41]:
student_name['marks'].append(55)

In [42]:
student_name

{'names': ['rahul', 'mohit', 'kriesh', 'Rohit'],
 'marks': [10, 20, 30, 55],
 'subject': 'math'}

In [43]:
student_name['subject']= "science"

In [44]:
student_name

{'names': ['rahul', 'mohit', 'kriesh', 'Rohit'],
 'marks': [10, 20, 30, 55],
 'subject': 'science'}

In [1]:
dt = {'names': ['rahul', 'mohit', 'kriesh', 'Rohit'],
 'marks': [10, 20, 30, 55],
 'subject': 'science'}

# insert another student but at 0the position "Rocky" and marks 66
# remove the record of "mohit" and its marks from the data.
# update the record "Rohit" ==> name "sahil" and marks ==> 45

In [6]:
dt['names'][-1] = "Sahil"
dt['marks'][-1] = 45

In [7]:
dt

{'names': ['rahul', 'mohit', 'kriesh', 'Sahil'],
 'marks': [10, 20, 30, 45],
 'subject': 'science'}

In [14]:
dt1 = {'A':10,'B':20}

In [11]:
dt1.update({'A':55,'B':2,'C':8})
print(dt1)

{'A': 55, 'B': 2, 'C': 8}

In [18]:
# dt1.clear()
print(dt1.keys())
print(dt1.values())
print(dt1)

dict_keys(['A', 'B'])
dict_values([10, 20])
{'A': 10, 'B': 20}

In [21]:
# update 
dt1['B'] = 55 
dt1

{'A': 10, 'B': 55}

In [22]:
#insert 
dt1['C'] = 887 
dt1

{'A': 10, 'B': 55, 'C': 887}

In [25]:
dt1.pop("A")
print(dt1)

{'B': 55, 'C': 887}

In [40]:
dt1 = {'A':55,'B':2,'C':8}

In [39]:

dt1.popitem()

('B', 2)

In [41]:
dt2 = dt1.copy()

In [48]:
dt1

{'A': 55, 'B': 2, 'C': 8}

In [44]:
dt2.pop('B')

2

In [45]:
dt2

{'A': 55, 'C': 8}

In [49]:
dt1 = {'A':55,'B':2,'C':8}
dt2 = dt1 # same referencing

In [50]:
dt1

{'A': 55, 'B': 2, 'C': 8}

In [52]:
dt2.pop("B")

2

In [55]:
dt1

{'A': 55, 'C': 8}

In [56]:
dt1.items()

dict_items([('A', 55), ('C', 8)])

In [58]:
ls = [('A', 55), ('C', 8)]
print(type(ls))

<class 'list'>

In [59]:
dict(ls)

{'A': 55, 'C': 8}

In [60]:
output = dict.fromkeys(['A','B','C','D','E'],"uflairs")
output

{'A': 'uflairs',
 'B': 'uflairs',
 'C': 'uflairs',
 'D': 'uflairs',
 'E': 'uflairs'}

In [65]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
# output = dict.fromkeys(list(range(2,101,2)),"uflairs")
# output

In [68]:
output[5].replace("f","p")

'uplairs'

In [71]:
output[5] = 100

In [72]:
output  ==> (2,4,6,8 10   ==> 100  )

{1: 'uflairs',
 2: 'uflairs',
 3: 'uflairs',
 4: 'uflairs',
 5: 100,
 6: 'uflairs',
 7: 'uflairs',
 8: 'uflairs',
 9: 'uflairs',
 10: 'uflairs'}

In [ ]:
dt = {'names': ['rahul', 'mohit', 'kriesh', 'Rohit'],
    'marks': [35, 20, 21, 10],
    'subject': 'science'}
# sort

In [4]:
st = "upflairs"
print(st.center(16,'*'))

****upflairs****

In [5]:
print(st.ljust(16,'*'))

upflairs********

In [7]:
print(st.rjust(16,'_'))

________upflairs

In [ ]:
# vector database -------  25

### SET

In [32]:
st = {52,63,85,85,74,96,6,5,45,8,5,25,85}
print(type(st))
print(st)
# not contain the duplicate items 
# unordered collection of item

<class 'set'>
{96, 5, 6, 8, 74, 45, 52, 85, 25, 63}

In [10]:
st[2]

TypeError: 'set' object is not subscriptable

In [14]:
# insertion 
print(st)
st.add(120)
print(st)

{96, 100, 5, 6, 8, 74, 45, 52, 85, 25, 63}
{96, 100, 5, 6, 8, 74, 45, 52, 85, 120, 25, 63}

In [ ]:
# deletion  
# print(st)
# st.discard(85) 
# st.remove(121)
# st.pop(74)
print(st)

TypeError: set.pop() takes no arguments (1 given)

In [37]:
st1 = {10,20,30,40,50,60}
st2 = {10,20,85,45,69} 
st1.update(st2)
print(st1)

{69, 40, 10, 45, 50, 20, 85, 60, 30}

In [38]:
st1 = {10,20,30,40,50,60}
st2 = {10,20,85,45,69} 
print(st1.intersection(st2))  # common item in both set

{10, 20}

In [39]:
st1 = {10,20,30,40,50,60}
st2 = {10,20,85,45,69} 
print(st1.union(st2))  #  A + B

{69, 40, 10, 45, 50, 20, 85, 60, 30}

In [41]:
st1 = {10,20,30,40,50,60}
st2 = {10,20,85,45,69} 
print(st2.difference(st1))  #  A-B

{45, 85, 69}

In [43]:
st1 = {10,20,30,40,50,60}  # superset
st2 = {10,20,30}  # subset 
st2.issubset(st1)

False

In [45]:
st1 = {10,20,30,40,50,60}  # superset
st2 = {10,20,30}  # subset 
st1.issuperset(st2)

True

In [46]:
ls = [10,20,30,40,50,60,60,6,60,20,20]
ls

[10, 20, 30, 40, 50, 60, 60, 6, 60, 20, 20]

In [53]:
output = list(set(ls))
print(output)
# print(list(output))

[6, 40, 10, 50, 20, 60, 30]

In [50]:
# type casting 
list(),set(),int(),float(),dict(),set(),tuple()

([], set(), 0, 0.0, {}, set(), ())

In [54]:
num = 25.21 
print(int(num))

25

In [55]:
num = 25
print(float(num))

25.0