### Tuple

In [6]:
print("hello world")  # commments

hello world

In [12]:
tpl = (10,20,30,50,40,'upflairs',True,25.2)  # imutable
print(tpl)
print(type(tpl))

(10, 20, 30, 50, 40, 'upflairs', True, 25.2)
<class 'tuple'>

In [ ]:
tpl.count()

In [13]:
tpl = 10,20,30,50,40,'upflairs',True,25.2
print(tpl)
print(type(tpl))

(10, 20, 30, 50, 40, 'upflairs', True, 25.2)
<class 'tuple'>

In [16]:
tpl = ('upflairs',)
print(tpl)
print(type(tpl))

('upflairs',)
<class 'tuple'>

In [17]:
tpl = 'upflairs',
print(tpl)
print(type(tpl))

('upflairs',)
<class 'tuple'>

In [29]:
st1 = "Mohan "
st2 = "Singh "
full_name = st1 + st2
print(full_name)

Mohan Singh

In [24]:
full_name + 19

TypeError: can only concatenate str (not "int") to str

In [30]:
print(full_name*5)  # replication method

Mohan Singh Mohan Singh Mohan Singh Mohan Singh Mohan Singh

In [31]:
print(5 * 3)

15

In [33]:
tpl * 5

('upflairs', 'upflairs', 'upflairs', 'upflairs', 'upflairs')

In [34]:
ls = [10,20,30]
print(ls * 3)

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [35]:
ls1 = [10,20,30]
ls2 = [40,50,60]
full_list = ls1 + ls2 
print(full_list)

[10, 20, 30, 40, 50, 60]

In [39]:
print(min(full_list))
print(max(full_list))
print(sum(full_list))

10
60
210

In [40]:
ls1 = (10,20,30)
ls2 = 40,50,60
full_tpl = ls1 + ls2 
print(full_tpl)

(10, 20, 30, 40, 50, 60)

In [43]:
print(min(full_tpl))
print(max(full_tpl))
print(sum(full_tpl))
print(len(full_tpl))

10
60
210
6

In [46]:
full_tpl[5]  # accessing

60

In [48]:
full_tpl[2:4]

(30, 40)

In [54]:
## unpacking method 
full_name = ('Ranjit','Singh')
first_name , last_name  = full_name
print(first_name)
print(last_name)
print(full_name)

Ranjit
Singh
('Ranjit', 'Singh')

### Dictionary

In [55]:
# pairs ==> pair    (key:value)
dt = {"A":10,"B":20,"C":30,"D":40}  # duplicates key can not be 
print(dt)
print(type(dt))

{'A': 10, 'B': 20, 'C': 30, 'D': 40}
<class 'dict'>

In [56]:
dt['C']

30

In [57]:
dt = {"A":10,"B":20,"C":30,"D":40,"A":100}  # duplicates key can not be 
print(dt)
print(type(dt))

{'A': 100, 'B': 20, 'C': 30, 'D': 40}
<class 'dict'>

In [1]:
dt = {"A":10,"B":10.5,"C":True,"D":'upflairs',"E":[10,20],"D":(10,20,30)}
print(dt)

{'A': 10, 'B': 10.5, 'C': True, 'D': (10, 20, 30), 'E': [10, 20]}

In [5]:
dt2 = {"A":10,1:20,10.2:50}
print(dt2)

{'A': 10, 1: 20, 10.2: 50}

In [6]:
dt2 = {"name":"Ranjit singh","city":'Mathura'}
print(dt2)

{'name': 'Ranjit singh', 'city': 'Mathura'}

In [7]:
dt = {"A":10,"B":20,"C":30,"D":40}  # duplicates key can not be 
print(dt)

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [8]:
print(dt['B'])

20

In [9]:
print(dt['Z'])

KeyError: 'Z'

In [10]:
dt.get("A")

10

In [11]:
dt.get("Z")

In [13]:
dt.get("Z","Not available")

'Not available'

In [15]:
print("hello world)

SyntaxError: unterminated string literal (detected at line 1) (3133449829.py, line 1)

In [21]:
pin_code = int(input("plz enter your pin code : "))
print(pin_code)

ValueError: invalid literal for int() with base 10: 'twenty'

In [22]:
dt = {"A":10,"B":20,"C":30,"D":40}  # duplicates key can not be 
print(dt)

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [24]:
## update 
dt['B'] = 200

In [25]:
dt

{'A': 10, 'B': 200, 'C': 30, 'D': 40}

In [34]:
student_name = {'names':['rahul','mohit','kriesh'],
                'marks':[10,20,30],
                'subject':'math'} 

# find the no of student 
# add another student record in to the dict name rohit and their marks 55
# update the subject"math" to science

In [36]:
print(len(student_name["names"]))

3

In [39]:
student_name["names"].append("Rohit")

In [40]:
student_name

{'names': ['rahul', 'mohit', 'kriesh', 'Rohit'],
 'marks': [10, 20, 30],
 'subject': 'math'}

In [41]:
student_name['marks'].append(55)

In [42]:
student_name

{'names': ['rahul', 'mohit', 'kriesh', 'Rohit'],
 'marks': [10, 20, 30, 55],
 'subject': 'math'}

In [43]:
student_name['subject']= "science"

In [44]:
student_name

{'names': ['rahul', 'mohit', 'kriesh', 'Rohit'],
 'marks': [10, 20, 30, 55],
 'subject': 'science'}

In [ ]:
dt = {'names': ['rahul', 'mohit', 'kriesh', 'Rohit'],
 'marks': [10, 20, 30, 55],
 'subject': 'science'}

# insert another student but at 0the position "Rocky" and marks 66
# remove the record of "mohit" and its marks from the data.
# update the record "Rohit" ==> name "sahil" and marks ==> 45