In [7]:
num1 = int(input("plz enter first num1 : "))
num2 = int(input("plz enter second num2 : "))
output = num1  + num2 
print(type(num1),type(num2))
print(output)

ValueError: invalid literal for int() with base 10: 'ghj'

In [6]:
num1 = int(input("plz enter first number : "))
operation = input("operation : ")
num2 = int(input("plz enter second number : "))
print("your number  is : ",num1,operation,num2)
if operation == "+":
    print("your addition is : ",num1 + num2)
elif operation == "-":
    print("your subtraction is : ",num1 - num2)
elif operation == "*":
    print("your multiplication is : ",num1 * num2)
else:
    print("invalid input")

your number  is :  10 * 10
your multiplication is :  100

In [ ]:
a = 25 
b = 36 
c = 10 
find highest number

In [ ]:
number = input()25  (hind % )
if  number kya wo even: 
    print(even)
else:
    print(odd)

In [ ]:
number = input()2  (**)
if number is even:
    print(square(number))
else:
    pls enter a even number to check square

In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
ls = [25,63,52,45,85,96,74,5]
for i in range(len(ls)):   # 0-7
    print(i)

0
1
2
3
4
5
6
7

In [4]:
ls[0]

25

In [6]:
ls = [25,63,52,45,85,96,74,5]
for i in range(len(ls)):   # 0-7
    print(i,">>>>>>>>>>> ",ls[i])

0 >>>>>>>>>>>  25
1 >>>>>>>>>>>  63
2 >>>>>>>>>>>  52
3 >>>>>>>>>>>  45
4 >>>>>>>>>>>  85
5 >>>>>>>>>>>  96
6 >>>>>>>>>>>  74
7 >>>>>>>>>>>  5

In [9]:
ls = [25,63,52,45,85,96,74,5]
sum(ls)

445

In [10]:
ls = [25,63,52,45,85,96,74,5]
total_sum = 0 
for i in range(len(ls)):   # 0-7
    total_sum += ls[i] 
print(total_sum)

445

In [13]:
# len(ls) 
count = 0 
for i in range(len(ls)):
    count += 1 
print(count)

8

In [ ]:
ls = [25,63,52,45,85,96,74,5]
total_sum = 0 
for i in range(len(ls)):   # 0-7
    total_sum += ls[i] 
print(total_sum)

In [19]:
28 % 2 == 0

True

In [20]:
ls = [25,63,52,45,85,96,74,5] 
for i in range(len(ls)):
    if ls[i] % 2 == 0:
        print("number is even")
    else:
        print("number is odd")

number is odd
number is odd
number is even
number is odd
number is odd
number is even
number is even
number is odd

In [21]:
ls = [25,63,52,45,85,96,74,5] 
even_count = 0 
odd_count = 0 
for i in range(len(ls)):
    if ls[i] % 2 == 0:
        even_count += 1
    else:
        odd_count += 1

print("even no. : ",even_count)
print("Odd no. : ",odd_count)

even no. :  3
Odd no. :  5

In [23]:
ls = [25,63,52,45,85,96,74,5] 
for i in range(len(ls)):
    print(ls[i] ** 2)

625
3969
2704
2025
7225
9216
5476
25

In [ ]:
num = int(input('enter your number : ')) # 2
for i in range(1,11):
    print(num, "*",i,"=",num*i)

7 * i = 7
7 * i = 14
7 * i = 21
7 * i = 28
7 * i = 35
7 * i = 42
7 * i = 49
7 * i = 56
7 * i = 63
7 * i = 70

In [33]:
print(2 , "*",1,"=",2)
print(2 , "*",2,"=",4)

2 * 1 = 2
2 * 1 = 4