### Loop

In [2]:
print("Hello world") 
print()
print("Hello world")

Hello world

Hello world

In [5]:
var1 = "Hello world"
var2 = "Hello india"
print("Hello everyone",var1,var2)

Hello everyone Hello world Hello india

In [8]:

print(5*5)

25

In [10]:
print("Hello world") 
print("Hello world") 
print("Hello world") 
print("Hello world") 
print("Hello world") 
print("Hello world") 
print("Hello world") 
print("Hello world") 
print("Hello world") 
print("Hello world") 
print("Hello world") 
print("Hello world") 
print("Hello world")

Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world
Hello world

In [11]:
print("Hello world")

Hello world

In [ ]:
# time complexity and space complexity 
# types of loop  
# 1. for (pre-knowledge of iteration)
# 2. while (no- pre-knowledg)
# 3. do while (not in python)

In [12]:
print("Hello world")

Hello world

In [21]:
for ritik in range(5,11):
    print(ritik," hello world")

5  hello world
6  hello world
7  hello world
8  hello world
9  hello world
10  hello world

In [22]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
ls = [10,20,30,50,40,20,36]

In [7]:
num = int(input("enter your number : ")) #5 ==> 2,3,4,5
if num <= 10:
    for i in range(2,num+1):  # 2 - 5   i = 2
        for j in range(1,11):
            print(i*j)
        print()
else:
    print("plz enter less than 10")

2
4
6
8
10
12
14
16
18
20

3
6
9
12
15
18
21
24
27
30

4
8
12
16
20
24
28
32
36
40

5
10
15
20
25
30
35
40
45
50

In [10]:
for i in range(1,3):
    print(i)
    for j in range(1,6):
        print(j)
    print()

1
1
2
3
4
5

2
1
2
3
4
5

In [12]:
ls = [10,20,30,50,40,20,36] 
for i in range(len(ls)):
    print(ls[i])

10
20
30
50
40
20
36

In [14]:
ls = [10,20,30,50,40,20,36] 
for item in ls:
    print(item)

10
20
30
50
40
20
36

In [17]:
ls = [10,20,30,50,40,55,20,36] 
for item in ls:
    if item % 2 == 0:
        print(item,"===>","Even")
    else:
        print(item ,"===> ",'odd')

10 ===> Even
20 ===> Even
30 ===> Even
50 ===> Even
40 ===> Even
55 ===>  odd
20 ===> Even
36 ===> Even

In [20]:
ls = {10,20,30,50,40,55,20,36}
for item in ls:
    print(item)

50
36
20
55
40
10
30

In [21]:
st = "upflairs"
for char in st:
    print(char)

u
p
f
l
a
i
r
s

In [ ]:
st = "upflairs pvt ltd jaipur rajasthan"
# print(st.count('u'))
dt = {}
for char in st:
    # print(i)
    print(char,"===>",st.count(char))

# dt ={ char:coutn value} 
{"u":2,"p":3,"f":2}

u ===> 2
p ===> 3
f ===> 1
l ===> 2
a ===> 5
i ===> 2
r ===> 3
s ===> 2
  ===> 4
p ===> 3
v ===> 1
t ===> 3
  ===> 4
l ===> 2
t ===> 3
d ===> 1
  ===> 4
j ===> 2
a ===> 5
i ===> 2
p ===> 3
u ===> 2
r ===> 3
  ===> 4
r ===> 3
a ===> 5
j ===> 2
a ===> 5
s ===> 2
t ===> 3
h ===> 1
a ===> 5
n ===> 1

In [28]:
dt = {"A":10,"B":20,"C":30,"D":40}

for i in dt:
    print(i)

A
B
C
D

In [36]:
dt = {"A":10,"B":20,"C":30,"D":40}

for i in dt.keys():
    print(i)

A
B
C
D

In [37]:
dt = {"A":10,"B":20,"C":30,"D":40}

for i in dt.values():
    print(i)

10
20
30
40

In [38]:
dt = {"A":10,"B":20,"C":30,"D":40}
dt.items()

dict_items([('A', 10), ('B', 20), ('C', 30), ('D', 40)])

In [39]:
dt = {"A":10,"B":20,"C":30,"D":40}

for i in dt.items():  # [(),(),()]
    print(i)

('A', 10)
('B', 20)
('C', 30)
('D', 40)

In [41]:
dt = {"A":10,"B":20,"C":30,"D":40}

for i in dt.items():  # [(key,valu),(),()]
    print("key  : ",i[0],"===>",i[1])

key  :  A ===> 10
key  :  B ===> 20
key  :  C ===> 30
key  :  D ===> 40

In [31]:
dt = {"A":10,"B":20,"C":30,"D":40}
print(dt.keys())
print(dt.values())

dict_keys(['A', 'B', 'C', 'D'])
dict_values([10, 20, 30, 40])

In [ ]:
break , continue

In [2]:
number_ls = [52,45,6,78,58,74,58,69,25,36,14,25] 
print(sum(number_ls)/len(number_ls))

45.0

In [7]:
number_ls = [52,45,6,78,58,74,58,69,25,36,14,25] 

for i in number_ls:
    if i == 74 :
        print("present",1)
        break 
    else:
        print('not present')

not present
not present
not present
not present
not present
present

In [15]:
count = 0 
for i in range(10):
    count += 1
    continue
    print("hiiii  i am there ")
    if i == 5 :
        continue 
    print(i)

print(count)

10

In [19]:
number_ls = [52,45,6,78,58,74,58,69,25,36,14,25] 
list(enumerate(number_ls))

[(0, 52),
 (1, 45),
 (2, 6),
 (3, 78),
 (4, 58),
 (5, 74),
 (6, 58),
 (7, 69),
 (8, 25),
 (9, 36),
 (10, 14),
 (11, 25)]

In [20]:
number_ls = [52,45,6,78,58,74,58,69,25,36,14,25] 
for item in enumerate(number_ls):
    print(item)

(0, 52)
(1, 45)
(2, 6)
(3, 78)
(4, 58)
(5, 74)
(6, 58)
(7, 69)
(8, 25)
(9, 36)
(10, 14)
(11, 25)

In [29]:
number_ls = [52,45,6,78,58,74,58,69,25,36,14,25] 
for item in enumerate(number_ls):
    print(item[0] , ">>>>>",item[1])

0 >>>>> 52
1 >>>>> 45
2 >>>>> 6
3 >>>>> 78
4 >>>>> 58
5 >>>>> 74
6 >>>>> 58
7 >>>>> 69
8 >>>>> 25
9 >>>>> 36
10 >>>>> 14
11 >>>>> 25

In [26]:
number_ls = [52,45,6,78,58,74,58,69,25,36,14,25] 
for i, item in enumerate(number_ls):
    print(i , ">>>>>",item)

0 >>>>> 52
1 >>>>> 45
2 >>>>> 6
3 >>>>> 78
4 >>>>> 58
5 >>>>> 74
6 >>>>> 58
7 >>>>> 69
8 >>>>> 25
9 >>>>> 36
10 >>>>> 14
11 >>>>> 25

### while loop

In [ ]:
intialaization 
while condition:
    body of while 
    incrementation

In [2]:
i = 0 
while i < 10:
    print(i," Hello world")
    i += 1

0  Hello world
1  Hello world
2  Hello world
3  Hello world
4  Hello world
5  Hello world
6  Hello world
7  Hello world
8  Hello world
9  Hello world

In [4]:
permision = True 
while permision:
    print("welcome to you in my class! 😊") 
    query = input("Do you want to quiet from the loop press Y/y : ")
    if query.lower() == "y":
        permision = False

welcome to you in my class! 😊
welcome to you in my class! 😊
welcome to you in my class! 😊
welcome to you in my class! 😊
welcome to you in my class! 😊
welcome to you in my class! 😊

In [ ]:
while True:
    print("jay shri ram")

In [7]:
import time

In [14]:

condition  = True 
while condition:
    query = input("are you watching videos press Y/y : ")
    if query.lower() == "y":
        pass 
    else:
        print("sleep time started ..") 
        time.sleep(5)  
        condition = False

sleep time started ..